* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    background-color: var(--primary-black);
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.d-none {
    display: none;
}

.locationContainer{
    padding:30px 0 30px 0;

}
.locationHeader{
    color: var(--primary-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
}

#bin-details-location{
    color: whitesmoke;
    padding: 0 20px;
    text-align: center;
}

.bin-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0 ;
    width: 280px;
    /*height: 200px;*/
    border-radius: 2rem;
    object-fit: cover;
    position: relative;
}

.bin-add-image {
    height: 200px;
}

#bin-details-images::-webkit-file-upload-button {
    visibility: hidden;
}

#bin-details-images {
    position: absolute;
    width: 280px;
    height: 200px;
    border-radius: 2rem;
    padding: 5px 0;
    color: transparent;
}

.wasteTypeHeader{
    color: var(--primary-green);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wasteType{
    padding-right: 8px;
}
.add-waste-type{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}

#bin-details-type {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 15px;
}

.tag-chosen {
    line-height: 2em;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.tag-select {
    clear: both;
    width: 100%;
    border: 0;
    background-color: white;
    padding: 5px;
    outline: none;
}

.tag-bubble {
    padding: 0 5px;
    background-color: var(--primary-yellow);
    color: var(--primary-black);
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
}

#types{
    width: 280px;
    height: 30px;
    border-radius: 2rem;
    padding: 0 10px;
}

.addIcon{
    padding-right: 10px;
}
label{
    color: whitesmoke;
    font-size: smaller;
}
.save-btn-container{
        margin: 25px 0 25px 0;
}
#saveButton{
    background-color: var(--primary-green);
    height: 60px;
    width: 280px;
    border-radius: 2.5rem;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600
}