* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageContainer {
    background-color: var(--primary-black);
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: nowrap;
}

.masterContainer{
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex: 1;
    overflow: scroll;
}

.locationContainer {
    text-align: center;
    margin-top: 10px;
}

.locationHeader {
    color: var(--primary-yellow);
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bin-details-location {
    color: whitesmoke;
    padding: 0 20px;
    text-align: center;
}

.location {
    display: inline-block;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.bin-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#bin-details-images {
    background-color: var(--primary-green);
    width: 280px;
    /*height: 200px;*/
    border-radius: 2rem;
    text-align: center;
    justify-items: center;
}

.modificationContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.lastModified {
    color: whitesmoke;
    /*padding: 0 7em 0 0;*/
    font-size: 0.8em;
}

.deleteButton {
    margin-left: 30px;
}

.delete{
    color: rgb(243, 54,67);
}

#bin-details-vote{
    text-align: center;
    padding-bottom: 1em;
}

.reliabilityHeader{
    color: var(--primary-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reliability {
    margin-left: 5px;
}

.thumbsUpDown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px
}

.percentage {
    display: inline-block;
    color: whitesmoke;
    padding: 0 1em 0 1em;
}

.wasteTypeContainer{
    text-align: center;
    padding: 0 0 18px 0;
}

.wasteTypeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wasteType{
    color: var(--primary-green);
    margin-left: 5px;
}

#bin-details-type {
    color: whitesmoke;
    font-size: 14px;
    margin-top: 10px;
}

#bin-details-type img {
    width: 30px;
}

.commentContainer {
    text-align: center;

}

.commentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment {
    color: var(--primary-yellow);
    margin-left: 5px;
}

.commentList {
    color: whitesmoke;
    font-size: 14px;
    margin-top: 10px;
}

.comment-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    background-color: #ffde59ba;
    border-radius: 15px;
    padding: 5px;
}

.comment-avatar {
    width: 40px;
    border-radius: 50%;
}

.comment-content-container {
    text-align: left;
    margin-left: 5px;
    flex: 1;
}

.comment-name {
    color: var(--primary-black);
}

.comment-delete {
    width: 16px;
    margin-right: 10px;
}

.commentInput-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 350px;
    margin: 5px auto;
}

.commentInput {
    background-color: whitesmoke;
    height: 3rem;
    width: 350px;
    border-radius: 2.5rem;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 30;
    padding-left: 20px;
}

.sendIcon{
    position: absolute;
    right: 20px;
}

#bin-details-type img {
    filter: brightness(0) invert(1);
}

.twitter-icon {
    position: absolute;
    right: 15px;
    top: 80px;
}

.fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.twitter-official {
    background: var(--primary-green);
}
