body {
    font-family: sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-green);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Popup */

.popup--error-container,
.popup--warning-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
}

.popup--error-content,
.popup--warning-content {
    background-color: var(--primary-black);
    width: 90vw;
    max-width: 400px;
    border-radius: 20px;
    border: 3px solid var(--primary-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    color: var(--primary-yellow);
    position: relative;
}

.popup--error-content {
    border: 3px solid #FF0000;
    color: #FF0000;
}

.popup--error-icon-error,
.popup--warning-icon-warning {
    width: 40px;
}


.popup--error-icon-close,
.popup--warning-icon-close {
    width: 16px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.popup--error-message,
.popup--warning-message {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

