* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-black);
    color: white;
    font-family: Montserrat, sans-serif;
}

.container {
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

/*Profile*/
main {
    margin: 20px auto;
    padding: 10px;
}

.profile-img {
    display: flex;
    justify-content: center;
}

.profile-avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

#user-img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-green);
}

#edit::-webkit-file-upload-button {
    visibility: hidden;
}

#edit {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    color: transparent;
}

#select {
    position: absolute;
    top: 208px;
    right: 62px;
    border-radius: 30px;
    padding: 4px 8px;
    display: none;
}

.username::after {
    content: "";
    display: block;
    clear: both;
}

.username {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#user-name {
    font-size: 25px;
}

.new-name {
    display: flex;
    position: relative;
    justify-content: center;
}

#change-username {
    display: none;
}

#submit-new-username {
    display: none;
    position: absolute;
    height: 27px;
    right: 1px;
    padding-right: 4px;
    padding-left: 4px;
}

#edit-name-btn {
    margin: 7px 7px 0;
    font-size: 20px;
    color: #959595;
}

#edit-name-btn:hover {
    cursor: pointer;
    color: white;
}

.useremail {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.user-email {
    font-size: 40px;
    clear: both;
}


/*Bin Picture*/
article {
    padding: 20px;
}

.picture-title {
    color: var(--primary-yellow);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-yellow);
}

.bin {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid whitesmoke;
}

.bin-photo {
    grid-area: picture;
    width: 100px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bin-info {
    width: 230px;
    grid-area: information;
    font-size: 16px;
    padding: 6px;
}

.bin-photo img {
    width: 100%;
}

.bin-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px auto 16px;
}

.bin-location img {
    border: 1px solid white;
    border-radius: 2rem;
}

#map-search-preview {
    width: 160px;
}

.bin-info * {
    margin: 0;
}

.bin-info button {
    font-size: 16px;
    background-color: var(--primary-yellow);
    padding: 3px 15px;
    margin-top: 7px;
}

/*MODAL*/
.modal {
    display: none;
    width: 87%;
    background-color: rgb(250, 250, 250);
    color: black;
    padding: 18px;
    position: absolute;
    top: 30%;
    left: 7%;
    border-radius: 3%;
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: left;
    margin: 10px auto;
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}

.modal-title {
    font-size: 22px;
}

.btn-close {
    position: absolute;
    top: 4px;
    right: 5px;
    font-size: 16px;
    border: none;
}

.modal-body {
    padding: 14px 0;
    font-size: 16px;
}

.modal-footer {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    font-size: 17px;
    padding: 5px 17px;
    margin: 3px 5px;
    border-radius: 5%;
}

#confirm-delete {
    color: #FF1A1A;
    background-color: white;
    border: 0.5px solid;
}

#close-btn {
    background-color: white;
    border: 0.5px solid var(--primary-black)
}
