* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-black);
    color: white;
    font-family: 'Roboto', sans-serif;
}


/*Profile*/
main {
    margin: 3% auto;
    padding: 3%;
    text-align: center;
}

.profile-img {
    display: flex;
    justify-content: center;
}

.profile-avatar {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

#user-img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#edit {
    position: absolute;
    bottom: 0;
    background-color: rgba(85, 85, 85, 0.6);
    width: 150px;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}

.username::after {
    content: "";
    display: block;
    clear: both;
}

.username {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#user-name {
    font-size: 25px;
}

#edit-name-btn {
    margin: 2% 2% 0;
    font-size: 20px;
    color: #959595;
}

#edit-name-btn:hover {
    cursor: pointer;
    color: white;
}

.useremail {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.user-email {
    font-size: 40px;
    clear: both;
}


/*Bin Picture*/
article {
    padding: 20px;
}

.picture-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid white;
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "picture information"
}

.bin-photo {
    grid-area: picture;
    padding: 2px;
}

.photo-info {
    grid-area: information;
    font-size: 16px;
    padding: 6px;
}

#delete-btn {
    font-size: 16px;
    background-color: var(--primary-yellow);
    padding: 3px 6px;
    margin-top: 2px;
}

section img {
    width: 100%;
}