{% include "includes/source.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/loading-screen.css') }}">

<div class="loading-container">
   <img
        class="loading-logo"
        src="{{ url_for('static', filename='assets/images/logo-v1.png') }}"
        alt="sidebar-wave"
   />
    <div class="loader"></div>
</div>

<script>
    function clearLoadingScreen () {
        const loadingElem = document.querySelector(".loading-container");
        if (loadingElem) {
            loadingElem.remove();
        }
    }
</script>