<link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<div class="nav-container">
    <div class="nav-menu" id="navbar-icon">
        <img
            class="nav-menu-icon"
            src="{{ url_for('static', filename='assets/icons/icon-hamburger.png') }}"
            alt="menu-icon"
        />
    </div>

    <form action="/search" method="post" id="search-form" class="search-container">
        <input id="search-input" class="search-input" type="text" name="keyword"/>
        <input type="hidden" id="search-coords" name="coords">
        <img
            id="search-submit"
            class="search-menu-icon"
            src="{{ url_for('static', filename='assets/icons/icon-search.png') }}"
            alt="menu-icon"
        />
    </form>

</div>

{% include "includes/sidebar.html" %}

<script defer src="{{ url_for('static', filename='js/navbar.js') }}"></script>
