<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<div class="container animate__animated d-none" id="sidebar">
    <img
        class="sidebar-wave"
        src="{{ url_for('static', filename='assets/images/sidebar-wave.png') }}"
        alt="sidebar-wave"
    />

    <div class="sidebar-content">
        <div class="sidebar-header">
            <div class="profile">
                {% if data %}
                    <img
                        class="profile-avatar"
                        src="data:image/png;base64,{{ data.avatar }}"
                        alt="user avatar"
                    />
                    <div class="profile-name">{{ data.name }}</div>
                {% else %}
                    <img alt="logo" class="profile-avatar" src="{{ url_for("static", filename="assets/images/logo-v1.png")}}"/>
                    <div class="profile-name">Welcome</div>
                {% endif %}
            </div>
        </div>

        <div class="sidebar-menu">
            {% if data %}
                <a class="sidebar-menu-item" href={{ "/profile" }}>Profile</a>
            {% else %}
                <a class="sidebar-menu-item" href={{ "/login" }}>Login</a>
            {% endif %}

            <a class="sidebar-menu-item" href={{ "/bookmark" }}>Bookmarks</a>
            <a class="sidebar-menu-item" href={{ "/wiki" }}>Waste Wiki</a>
            <a class="sidebar-menu-item" href={{ "/about-us" }}>About Us</a>


            <a class="sidebar-menu-item" href="/logout">Logout</a>
        </div>

        <div class="sidebar-footer">
            <img
                class="sidebar-footer-logo"
                src="{{ url_for('static', filename='assets/images/logo-v1.png') }}"
                alt="sidebar-wave"
            />
        </div>

        <div class="sidebar-version">Version 0.0.1</div>
    </div>
</div>
