<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>



-------------------
    <h1>Bin details</h1>
    <hr>


    <h2>Location</h2>
    <div id="bin-details-location"></div>

    <h2>Type</h2>
    <div id="bin-details-type"></div>

    <h2>Images</h2>
    <div id="bin-details-images">Images go here</div>
    <h2>Feedback</h2>
    <div id="bin-details-vote">
        <button>Upvote</button> <button>Downvote</button>
    </div>
    <div id="bin-details-upload">
        <button>Upload image</button>
    </div>

    <script src="/static/js/bin-details.js"></script>
</div>

{% block bottom %}

<script src="/static/js/bin-details.js"></script>

{% endblock %}