{% extends 'includes/base.html' %}

{% block head %}
<title>Add New Bin Location</title>
<link rel="stylesheet" href="{{ url_for('static', filename="css/add-new-location.css") }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    {%  include "includes/heading.html" %}
    <form class="container" action="/" method="POST">
        <div class="locationContainer">
            <div class="locationHeader">
                <img src= "{{ url_for('static', filename="assets/icons/icon-location.png") }}"
                            alt = "icon-location"/>
                <h4 class = "location"> Location </h4>
            </div>
            <div id="bin-details-location"></div>
        </div>

        <div class="bin-image-container">
                <div id="bin-details-images">Images goes here</div>
            </div>

        <div class = "wasteTypeContainer">
            <div class ="wasteTypeHeader">
                <img src= "{{ url_for('static', filename="assets/icons/icon-waste-type.png") }}"
                            alt = "icon-wasteType" class ="icon-wasteType"/> <h4 class = "wasteType"> Waste Type </h4>
            </div>
            <div id="bin-details-type">
                <select id="types" name="types" required>
                    <option value="placeholder" disabled selected hidden>Select type of waste</option>
                    <option value="waste-type-Garbage">Garbage</option>
                    <option value="waste-type-Recyclable">Recyclable</option>
                    <option value="waste-type-Food">Food</option>
                    <option value="waste-type-Hazardous">Hazardous</option>
                    <option value="waste-type-Cardboard">Cardboard</option>
                    <option value="waste-type-Glass">Glass</option>
                    <option value="waste-type-Others">Others</option>
                </select>
            </div>
        </div>
        <div class="add-waste-type">
                <img src="{{ url_for('static', filename="assets/icons/icon-add.png")}}"
                       alt="add icon" class = "addIcon">
                    <label for="types" class="click">Click to add more types</label>
        </div>

        <div class = "save-btn-container">
            <button type="submit" value = "SAVE" class = "saveButton">SAVE</button>
        </div>
    </form>
{% endblock %}

{% block bottom %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="/static/js/bin-details.js"></script>
<script type="text/javascript">
    const lat = {{ location.lat }};
    const long = {{ location.lng }};
    reverseGeoCode();
</script>

{% endblock %}

