{% extends 'includes/base.html' %}

{% block head %}

<title>Bin details</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}


{% block body %}

<button onclick="window.history.back()">Return to map</button>

<h1>Bin details</h1>
<hr>

<h2>Location</h2>
<div id="bin-details-location"></div>

<h2>Type</h2>
<div id="bin-details-type"></div>

<h2>Images</h2>
<div id="bin-details-images">Images go here</div>
<h2>Feedback</h2>
<div id="bin-details-vote">
    <button>Upvote</button> <button>Downvote</button>
</div>
<div id="bin-details-upload">
    <button>Upload image</button>
</div>

<script src="/static/js/bin-details.js"></script>

{% endblock %}


{% block bottom %}

<script src="/static/js/bin-details.js"></script>

{% endblock %}
