{% extends 'includes/base.html' %}

{% block head %}

<title>Bin details</title>
<link rel="stylesheet" href="{{ url_for('static', filename="css/bin-details.css") }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class = "pageContainer">
{%  include "includes/heading.html" %}
    <div class="masterContainer">
        <a id="sharebutton" href="https://twitter.com/intent/tweet/?text=Check%20out%20this%20website!&url=https%3A%2F%2Fjonsuh.com%2F&via=jonsuh" target="_blank">Share</button>
        <div class="locationContainer">
            <div class="locationHeader">
                <img src= "{{ url_for('static', filename="assets/icons/icon-location.png") }}"
                            alt = "icon-location"/>
                <h4 class = "location"> Location </h4>
            </div>
            <div id="bin-details-location"></div>
        </div>

        <div class="bin-image-container">
            <div id="bin-details-images"></div>
        </div>
        <div class = "modificationContainer">
            <div class ="lastModified">
                <p>Last Modified</p>
                <p>DD/MM/YYYY</p>
            </div>
            <div class ="deleteButton">
                <img src= "{{ url_for('static', filename="assets/icons/icon-delete.png") }}"
                            alt = "icon-delete"/>
                <h6 class ="delete">Delete </h6>
            </div>
        </div>
        <div id="bin-details-vote">
            <div class ="reliabilityHeader">
                <img src= "{{ url_for('static', filename="assets/icons/icon-reliability.png") }}"
                            alt = "icon-reliability"/>
                <h4 class = "reliability">Reliability</h4>
            </div>
            <div class ="thumbsUpDown">
                {% if user_id in who_upvote %}
                    <img id="thumbs-up" src= "{{ url_for('static', filename="assets/icons/icon-thumb-up-filled.png") }}"
                                alt = "icon-thumb-up"/>
                {% else %}
                    <img id="thumbs-up" src= "{{ url_for('static', filename="assets/icons/icon-thumb-up.png") }}"
                                alt = "icon-thumb-up"/>
                {% endif %}

                <h4 class = "percentage">10%</h4>
                {% if user_id in who_downvote %}
                    <img id="thumbs-down" src= "{{ url_for('static', filename="assets/icons/icon-thumb-down-filled.png") }}"
                            alt = "icon-thumb-down"/>
                {% else %}
                    <img id="thumbs-down" src= "{{ url_for('static', filename="assets/icons/icon-thumb-down.png") }}"
                            alt = "icon-thumb-down"/>
                {% endif %}
            </div>
        </div>


        <div class = "wasteTypeContainer">
                <div class ="wasteTypeHeader">
                    <img src= "{{ url_for('static', filename="assets/icons/icon-waste-type.png") }}"
                                alt = "icon-wasteType"/> <h4 class = "wasteType"> Waste Type </h4>
                </div>
                <div id="bin-details-type">{{ bin_type }}</div>
            </div>
        <div class = "commentContainer">
            <div class ="commentHeader">
                <img src= "{{ url_for('static', filename="assets/icons/icon-comment.png") }}"
                            alt = "icon-wasteType"/> <h4 class = "comment"> Comment </h4>
            </div>
            <div class="commentList">{{ postedComment }}</div>
            <div class="commentInput-container">
                <input class ="commentInput" type="text" placeholder="Add a comment..." >
                <img class = "sendIcon" src= "{{ url_for('static', filename="assets/icons/icon-send.png") }}"
                            alt = "icon-send"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block bottom %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="/static/js/bin-details.js"></script>
<script type="text/javascript">
    const lat = {{ lat }};
    const long = {{ long }};
    reverseGeoCode();
</script>

{% endblock %}
