<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/heading.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "includes/source.html" %}
    <title>Login</title>

</head>
<body>
    <form action="/login" method="post">
{#        <input type="name" name="name">#}
{#        <input type="password" name="pass">#}
{#        <input type="submit" name="submit">#}

        <div class = "logo_name">
            <img src= "{{ url_for('static', filename="assets/images/temp_logo_name.png") }}"
                 alt = "logo_name">
        </div>
        <div class = "logo_icons">
            <img src= "{{ url_for('static', filename="assets/images/temp_bin_icons.png") }}"
                 alt = "logo_icons">
        </div>
        <div class = "login_container">
            <div class = "input_container">
                <div class = "email_container">
                    <div class = "email_address">
                        <h4> EMAIL ADDRESS</h4>
                    </div>
                    <div class = "get_email">
                        <img src= "{{ url_for('static', filename="assets/icons/icon-profile.png") }}"
                                alt = "icon-password"/>
                        <input name="name" type="text" placeholder="Type your email address" />
                    </div>
                </div>
                <div class = "password_container">
                    <div class = "password">
                        <h4>PASSWORD</h4>
                    </div>
                    <div class = "get_password">

                        <img src= "{{ url_for('static', filename="assets/icons/icon-password.png") }}"
                                alt = "icon-password">
                        <input name="pass" type="password" placeholder="Type your password" />
                    </div>
                </div>
            </div>
            <div class = "login_button_container">
                <button type = "submit" name ="submit">LOGIN IN</button>
            </div>
        </div>
        <div class = "no_account">
            <p>DON'T HAVE AN ACCOUNT YET?</p>
        </div>
        <div class = "signup">
            <p><U>SIGN UP</U></p>
        </div>

    </form>

</body>
</html>