{% extends "includes/base.html" %}

{% block head %}
    <title>Profile Page</title>
    <script src={{ "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" }}></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/profile-page.css") }}">
{% endblock %}

{% block body %}
    <div class="container d-none">
    {% with show_back=show_back %}
        {% include "includes/heading.html" %}
    {% endwith %}
        <main>
            <div class="profile-img">
                <div class="profile-avatar">
                    <img id="user-img" src="data:image/png;base64,{{ profile_data.avatar }}" alt="avatar">
                    <input type="file" name="avatar">
                </div>
            </div>
            <div class="username">
                <div id="user-name">{{ profile_data.name }}</div>
                <form class="new-name" method="POST">
                    <input type="text" id="change-username" name="name">
                    <input type="submit" id="submit-new-username">
                </form>
                <i class="fas fa-pen" id="edit-name-btn"></i>
            </div>
            <div class="useremail">
                <div id="user-email">{{ profile_data.email }}</div>
            </div>
        </main>

        <article>
            <div class="posted-pictures">
                <div class="picture-title">
                    Pictures you posted
                </div>

                <section>
                    {% for i in range(postedbin_data|length) %}
                        <div class="bin-photo">
                            <img src="data:image/png;base64,{{ postedbin_data[i].image }}" alt="garbage bin">
                        </div>
                        <div class="photo-info">
                            <p id="reliability">Reliability: {{ postedbin_data[i].reliability }} %</p>
                            <p id="date">Date Posted: {{ postedbin_data[i].date_created }}</p>
                            <button id="delete-btn">Delete</button>
                        </div>
                    {%  endfor %}
                </section>
            </div>
        </article>

{#        DELETE-BUTTON-MODAL#}
        <div class="modal" id="delete-button-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="btn-close" id="btn-close" aria-label="Close"><i class="fas fa-times"></i></button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure you want to delete the picture?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="confirm-delete">Delete</button>
                        <button type="button" id="close-btn">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom %}
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile-page.js') }}"></script>

{% endblock %}
